// Home Content

.home {
  .intro {
    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }

  .space-image {
    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        // use the button mixin
        .button(@btn-bg-color, @wild-sand, 30%);

        &:hover {
          .button-effect(@btn-bg-color, @waterloo, 5%);
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  // Responsive styling of Home section
  @media @mobile {
    .space-image {
      img {
        width: 100%;
      }
    }
    // make space-images section responsive
    .space-images {
      .flex-mixin(column);

      // make each space image responsive and remove some
      img {
        width: 90%;
        margin: @small-margin auto;
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          display: none;
        }
      }
    }

    .walk {
      .flex-mixin(column-reverse);
      width: 90%;
      padding: @medium-margin 0px;
      margin: auto;
      .walk-text {
        width: 100%;
      }

      .walk-img {
        width: 100%;
        margin-left: 0%;
        margin: auto;
        img {
          margin: auto;
          width: 100%;
        }
      }

      .walk-text {
        .btn {
          .button(@btn-bg-color, @wild-sand, 100%);
        }
      }
    }
  }
} // home
