// Mixins Here

// flex mixin
.flex-mixin(@direction) {
    display: flex;
    flex-direction: @direction;
}

// Button mixin
.button(@background, @color) {
    padding-top: @small-padding;
    border-radius: 5px;
    margin-bottom: @medium-margin;
    text-align: center;
    color: @color;
    background: @background;
    font-size: @medium-font;
    width: 2.0em;
    height: 2.5em;
}

// button effects
.button-effect(@background-color, @color, @degree) {
    background-color: lighten(@background-color, @degree);
    color: @color;
}